.or{
    color: #FF5C00;
font-family: MarlinGeoSQ;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
}

.tit{
    color: #000;
font-family: MarlinGeoSQ;
font-size: 64px;
font-style: normal;
font-weight: 500;
line-height: normal;
}